<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insure Connect</title>
</head>
<body>

<div id="container">
    <input type="text" id="title-text"/>
    <input type="text" id="content-text"/>
    <input type="file" id="images" name="images" multiple="multiple" accept="image/*">
    <button type="submit" id="promotion-submit-button">전송</button>
</div>
<script>
    {
        const promotionSubmitBtn = document.querySelector("#promotion-submit-button")
        promotionSubmitBtn.addEventListener("click", function(){
            const promotion = {
                title: document.querySelector("#title-text").value,
                content: document.querySelector("#content-text").value
            }
            const url = "/api/promotion";
            fetch(url, {
                method: "POST",
                body: JSON.stringify(promotion),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                const msg = (response.ok) ? "저장되었습니다!" : "저장 실패!";
                alert(msg);
                window.location.reload();
            });
        })
    }
</script>
</body>
</html>