<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insure Connect</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<form name="form" method="post" action="/api/promotion" enctype="multipart/form-data">
    <input type="text" id="title" name="title"/>
    <input type="text" id="content" name="content"/>
    <input type="file" id="images" name="images" multiple="multiple" accept="image/*">
    <button type="submit" id="promotion-submit-button">전송</button>
</form>
<script>
    {
        const promotionSubmitBtn = document.querySelector("#promotion-submit-button")
        const FileElement = document.querySelector('#images');
        promotionSubmitBtn.addEventListener("click", function(){
            const formData = new FormData();
            const title = document.querySelector('#title').value;
            const content = document.querySelector('#content').value;
            formData.append("title", title);
            formData.append("content", content);
            for(let i = 0; i < FileElement.files.length; i++){
                formData.append("files", FileElement.files[i]);
            }
            const url = "/api/promotion";
            fetch(url, {
                method: "POST",
                body: formData
            }).then(response => {
                alert(response);
                const msg = (response.ok) ? "저장되었습니다!" : "저장 실패!";
                alert(msg);
                window.location.reload();
            });
        })
    }
</script>
</body>
</html>